{% extends "base.html" %}
{% load static %}

{% block imports %}
  <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
{% endblock %}

{% block content %}
<div class="login-form">
  <form method="POST">
    {% csrf_token %} 
    <div class="screen-1">
      
      {% include 'snippets/login_form_svg.html' %}

      <div class="username">
        {{ form.username.label_tag }}
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          {{ form.username }}
        </div>
        {% if form.username.errors %}
          <hr>
          {% for error in form.username.errors %}
              <p style="color:red;"> {{ error }} </p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="email">
        {{ form.email.label_tag }}
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          {{ form.email }}
        </div>
        {% if form.email.errors %}
          <hr>
          {% for error in form.email.errors %}
              <p style="color:red;"> {{ error }} </p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="password">
        {{ form.password1.label_tag }}
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
            {{ form.password1 }}
          <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
        {% if form.password1.errors %}
          <hr>
          {% for error in form.password1.errors %}
              <p style="color:red;"> {{ error }} </p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="password">
        {{ form.password2.label_tag }}
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
            {{ form.password2 }}
          <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
        {% if form.password2.errors %}
          <hr>
          {% for error in form.password2.errors %}
              <p style="color:red;"> {{ error }} </p>
          {% endfor %}
        {% endif %}
      </div>

      <button class="register" type="submit">Sign Up</button>
        
      <div class="footer">
        <span>
          <a href="{% url 'account_login' %}">Sign in</a>
        </span>
      </div>

    </div>
  </form>
</div>
{% endblock %}