*{
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,50,112,0.9009978991596639) 55%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,50,112,0.9009978991596639) 55%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,50,112,0.9009978991596639) 55%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

/* general classes */
.scaled:hover{
    transform: scale(1.1, 1.1);
}

.main-navbar{
    margin:1%;
    border-bottom: 1px grey solid;
}

/* 'users' app */

.profile{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 4vw;
}

.profile div{
    background-color: lightgray;
    border-radius: 8px;
}

.profile div:nth-child(1){
    width: 25vw;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile div:nth-child(1) a{
    background:#f5c242;
    padding: 10px 40px;
    margin-top:5px;
    border-radius:10px;
    color:black;
}

.profile div:nth-child(2){
    width: 65vw;
}

/* 'music' app */
.save-song-form{
    display: flex;
    flex: column;
    justify-content: center;
    color:white;
    border:1px solid white;
    margin: 2% 15%;
    padding: 6% 2%;
    border-radius: 4px;
}

.save-song-form div{
    margin-top: 20px;
}

.save-song-form > div{
    margin-right: 5%;
    position: relative;
}

.save-song-form input[type="file"]{
    background:none;
    border: none;
    color:white;
}

.save-song-form input[type="checkbox"]{
    margin-top: 15px;
}

.save-song-form button{
    margin-top: 15%;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 1s;
    background:#2596be;
    color:white;
}

.save-song-form button:hover{
    transform:scale(1.2, 1.2);
}

/* 'core' app */

.main-page{
    margin: 4% 0;
    display: flex;
    flex-direction: row;
}

.main-page main{
    width: 76%;
    margin-left: 4%;
}

.main-page aside{
    width: 19%;
    display:flex;
    border: 1px solid grey;
    justify-content: center;
    border-radius: 8px;
    padding-top: 10px;
}

.main-page aside a{
    color:white;
    font-size: 14pt;
}

.main-page main > div{
    color:white;
    margin-top: 20px;
}