*{
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body{
    color:white;
    margin: 0 4%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,50,112,0.9009978991596639) 55%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,50,112,0.9009978991596639) 55%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(65,50,112,0.9009978991596639) 55%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

/* snippets */
.song-post{
    display: flex;
    border: 1px solid grey;
    padding: 0 40px;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-right: 10px;;
}

.song-post .song-post-number{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid grey;
    padding-right:40px;
}

.song-post .song-post-body{
    padding-left: 20px;
    width: 100%;
}

.song-post .song-post-body span{
    font-size: 15pt;
}

.song-post .song-post-body > div{
    margin-top:20px;
}

.song-post .song-post-body > div:last-child img{
    margin-left: 4px;
}

.song-post .song-post-body > div:last-child{
    margin-bottom: 20px;
}

/* general classes */

input[type="checkbox"]{
    width: 20px;
    display: inline;
}

.scaled:hover{
    transform: scale(1.1, 1.1);
}

/* Navbar */

.main-navbar{
    margin:1%;
    border-bottom: 1px grey solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-navbar .login-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-navbar .login-options a{
    padding: 10px 15px;
    border: 1px solid white;
    border-radius:  5px;

    margin-left: 10px;
    transition: 1s;
}

.main-navbar .login-options a:hover{
    box-shadow: 1px 1px 15px white;
}

/* 'users' app */

.profile{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 4vw;
}

.profile div{
    background-color: lightgray;
    border-radius: 8px;
}

.profile div:nth-child(1){
    width: 25vw;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile div:nth-child(1) a{
    background:#f5c242;
    padding: 10px 40px;
    margin-top:5px;
    border-radius:10px;
    color:black;
}

.profile div:nth-child(2){
    width: 65vw;
}

/* 'music' app */
.save-song-form{
    display: flex;
    flex: column;
    justify-content: center;
    color:white;
    border:1px solid white;
    margin: 2% 15%;
    padding: 6% 2%;
    border-radius: 4px;
}

.save-song-form div{
    margin-top: 20px;
}

.save-song-form > div{
    margin-right: 5%;
    position: relative;
}

.save-song-form input[type="file"]{
    background:none;
    border: none;
    color:white;
}

.save-song-form input[type="checkbox"]{
    margin-top: 15px;
}

.save-song-form button{
    margin-top: 15%;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 1s;
    background:#2596be;
    color:white;
}

.save-song-form button:hover{
    transform:scale(1.2, 1.2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.most-popular::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.most-popular {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.most-popular {
    height: max(65vh, auto); 
    overflow-y: scroll;
}

/* 'core' app */

.main-page{
    margin: 4% 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.main-page main{
    width: 76%;
    margin-left: 4%;
}

.main-page aside{
    width: 19%;
    display:flex;
    border: 1px solid grey;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 0;
}

.main-page aside a{
    color:white;
    font-size: 14pt;
}

.main-page main > div{
    color:white;
    margin-top: 20px;
}

.add-new-song{
    display:flex; 
    justify-content: right;
}

.add-new-song a{
    transition: 1s;
}

.add-new-song a:hover{
    transform: scale(1.2, 1.2);
}

/* song_post */

.box{
    position: relative;
    display: inline-block;

}
.modal{
    color:black;
    padding:10px 0 10px 5px;
    position: absolute;
    margin-top: -10vh;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    height: max(10vh);
    overflow-y: scroll;
    background-color: rgba(236, 236, 236, 0.9);
    display: inline-block;
    border-radius: 3px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal ul li{
    margin-top: 5px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
    display: none;
}
