{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="main-page">
        <main>
            <div class="add-new-song">
                <a href="{% url 'music:save_song' %}" style="color:black;"><button>Add new song</button></a> 
                <a href="{% url 'music:save_album' %}" style="color:black;"><button>Add new album</button></a> 
            </div>
            {% for song in public_songs %}
                {% include "snippets/song_post.html" with song=song user=user %}
            {% endfor %}
        </main>

        <aside>
            <a href="{% url 'music:most_popular' %}">Most popular</a>
        </aside>
    </div>

{% endblock %}