{% extends "base.html" %}
{% load static %}

{% block imports %} 


{% endblock %}

{% block content %}

    <div class="main-page">
        <main>
            {% for song in public_songs %}
                <div id="song_{{song.pk}}">
                    {{ song.user.username }} posted {{ song.title }}
                    <div class="container-audio">
                        <audio controls  loop autoplay>
                            <source src="{% get_media_prefix %}{{ song.file }}" type="audio/ogg">
                            Your browser dose not Support the audio Tag
                        </audio>
                    </div>
                    <span class="song-likes">{{ song.likes.all | length }}</span> likes
            
                    <button onclick="like('{{song.pk}}', '{{user.pk}}')">Like</button>
                </div>

            {% endfor %}
        </main>

        <aside>
            <a href="#">Most popular</a>
        </aside>
    </div>

{% endblock %}