{% load static %}

<div id="song_{{song.pk}}" class="song-post">
    {% if number %}
        <div class="song-post-number">
            <span>{{ number }}</span>
        </div>  
    {% endif %}

    <div class="song-post-body">
        <div style="display:flex; justify-content: space-between;">
            <span>{{ song.user }} posted "{{ song.title }}":</span>
            {% if song.user == user %} 
                <form action="{% url 'music:delete_song' pk=song.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="background: none;"><img src="{% static 'img/trashcan.png' %}" alt="Delete icon"></button>
                </form>
                
            {% endif %}
        </div>
        <div class="container-audio">
            <audio controls>
                <source src="{% get_media_prefix %}{{ song.file }}" type="audio/ogg">
                Your browser dose not Support the audio Tag
            </audio>
        </div>
        <div>
            <span>at {{song.posted_date }} </span>
        </div>
        <div style="display:flex; justify-content: space-between;">
            <div class="box" onmouseover="showModal(this)" onmouseleave="hideModal(this)">
                <div class="modal">
                    <ul>
                        {% for user in song.likes.all %}
                            <li>{{ user }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <span><span class="song-likes">{{ song.likes.all | length }}</span> likes</span>
                {% if user.is_authenticated %}
                    <img src="{% static 'img/blue-like-icon.png' %}" alt="like button" onclick="like('{{song.pk}}', '{{user.pk}}', this)">
                {% endif %}
            </div>
            <div>
                {% if user.is_authenticated %}
                        {% if user in song.favorites.all %}
                            <img style="cursor:pointer;" src="{% static 'img/filled-heart.png' %}" alt="Favorite icon" onclick="favoriteSong('{{song.pk}}', '{{user.pk}}', this)">
                        {% else %}
                            <img style="cursor:pointer;" src="{% static 'img/blank-heart.png' %}" %}" alt="Favorite icon"  onclick="favoriteSong('{{song.pk}}', '{{user.pk}}', this)">
                        {% endif %}
                        <img style="cursor:pointer;" src="{% static 'img/musical-album.png' %}" %}" alt="Add to musical album"  onclick="">
                {% endif %}
            </div>
        </div>
    </div>
</div>

