<!DOCTYPE html>
<html>
    {% load static %}
<head>   
	<title>
        {% block title %}MusicLi{% endblock %}
    </title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/main.js' %}"></script>

        {% block imports %} {% endblock %}
</head>
<body>
    <nav class="main-navbar">
        <h1><a href="{% url 'core:index'%}">MusicLi</a></h1>

        <div class="login-options">
            {% if user.is_authenticated %}
               <a href="{% url 'users:user_profile' %}" style="color:purple;">{{ user }}</a>
               <a href="{% url 'users:logout' %}" style="color:red;">logout</a>
            {% else %}
               <a href="{% url 'account_login' %}">signin</a>
            {% endif %}
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>